---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}" target="_blank" rel="noopener noreferrer">my Google Scholar profile</a>.</div>
{% endif %}

<div class="publication-list">

  <div class="publication-list__item">
    <a class="publication-list__title" href="https://doi.org/10.65400/SGBM.2026.1.1.64" target="_blank" rel="noopener noreferrer">Sex-Specific Variance in Gait Biomechanics: Machine Learning-Based Feature Prioritization for Personalized Assessment.</a>
    <span class="publication-list__authors">H. J. Joung, S. B. Panday, J. H. Lee, J. Ahn, M. S. Park.</span>
    <span class="publication-list__venue"><em>Sex- and Gender-Specific Biomedicine</em>, 1(1), 64&ndash;73, 2026.</span>
  </div>

  <div class="publication-list__item">
    <a class="publication-list__title" href="https://doi.org/10.1098/rsos.240333" target="_blank" rel="noopener noreferrer">Effects of the kinematic variable, time delay and data length on test&ndash;retest reliability of the maximal Lyapunov exponent of human walking.</a>
    <span class="publication-list__authors">I. Park, J. H. Lee, J. Ahn.</span>
    <span class="publication-list__venue"><em>Royal Society Open Science</em>, 11(10), 240333, 2024.</span>
  </div>

  <div class="publication-list__item">
    <a class="publication-list__title" href="https://doi.org/10.1016/j.chaos.2023.113916" target="_blank" rel="noopener noreferrer">Noise-robust estimation of the maximal Lyapunov exponent based on state space reconstruction with principal components.</a>
    <span class="publication-list__authors">J. H. Lee, I. S. Park, J. Ahn.</span>
    <span class="publication-list__venue"><em>Chaos, Solitons &amp; Fractals</em>, 174, 113916, 2023.</span>
  </div>

</div>
