---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{ site.author.googlescholar }}" target="_blank" rel="noopener noreferrer">my Google Scholar profile</a>.</div>
{% endif %}

<ol class="publication-list">

  <li class="publication-list__item">
    <span class="publication-list__title">Sex-Specific Variance in Gait Biomechanics: Machine Learning-Based Feature Prioritization for Personalized Assessment.</span>
    <span class="publication-list__authors">H. J. Joung, S. B. Panday, J. H. Lee, J. Ahn, M. S. Park.</span>
    <span class="publication-list__venue"><em>Sex- and Gender-Specific Biomedicine</em>, 1(1), 64&ndash;73, 2026.</span>
  </li>

  <li class="publication-list__item">
    <span class="publication-list__title">Effects of the kinematic variable, time delay and data length on test&ndash;retest reliability of the maximal Lyapunov exponent of human walking.</span>
    <span class="publication-list__authors">I. Park, J. H. Lee, J. Ahn.</span>
    <span class="publication-list__venue"><em>Royal Society Open Science</em>, 11(10), 240333, 2024.</span>
  </li>

  <li class="publication-list__item">
    <span class="publication-list__title">Noise-robust estimation of the maximal Lyapunov exponent based on state space reconstruction with principal components.</span>
    <span class="publication-list__authors">J. H. Lee, I. S. Park, J. Ahn.</span>
    <span class="publication-list__venue"><em>Chaos, Solitons &amp; Fractals</em>, 174, 113916, 2023.</span>
  </li>

</ol>
